{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block 'title' %} Bienvenido a Wordplease {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
</head>
<body>

    {% include 'posts/menu.html' %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <hr>

    <footer class="container">
        <div class="row">
            <p class="col-xs-12">
                Wordplease Inc. &copy: 2015
            </p>
        </div>
    </footer>
</body>
</html>