{% if object_list|length > 0 %}
    <h2>Últimas publicaciones</h2>
    {% for post in object_list %}
        <a href="{% url 'post_detail' post.owner.username post.pk %}">
            <h1>{{post.title}}</h1>
        </a>
        <p>{{post.modified_on}} By <a href="{% url 'blog_detail' post.owner.username %}"> {{post.owner.username}} </a></p>
        <h3>{{post.summary}}</h3>
        <img src="{{ post.url }}">
        <hr>
    {% endfor %}
{% else %}
    <h2>No hay publicaciones</h2>
{% endif %}
